# Matomo analytics
MATOMO_URL=
MATOMO_SITE_ID=

# API service
API_BASE_URL=http://localhost:8010/v1/
API_AUTH_USERNAME=
API_AUTH_PASSWORD=
API_CONNECT_TIMEOUT=30
API_RECEIVE_TIMEOUT=30
API_ROUTING_ENGINE=valhalla
DATA_REFRESH_INTERVAL_SECONDS=20

# Fallback coordinates
DEFAULT_FOCAL_LAT=49.487164933378104
DEFAULT_FOCAL_LON=8.46624749208

# Base map styles
BASE_MAP_STYLE_URL_LIGHT=https://api.maptiler.com/maps/streets-v2/style.json?key=YOUR_MAPTILER_KEY
BASE_MAP_STYLE_URL_DARK=https://api.maptiler.com/maps/streets-v2-dark/style.json?key=YOUR_MAPTILER_KEY
BASE_MAP_STYLE_URL_SATELLITE=https://api.maptiler.com/maps/satellite/style.json?key=YOUR_MAPTILER_KEY

# Support and feedback
SUPPORT_EMAIL_URL=
SUPPORT_EMAIL_SUBJECT=Support - Park-Stark
FEEDBACK_EMAIL_SUBJECT=Feedback - Park-Stark

# Park API settings
PARK_API_BASE_URL=https://api.mobidata-bw.de/park-api/api/public/v3/
PARK_API_SOURCE_UIDS=mannheim_disabled,mannheim,stuttgart_carparks,vrs-p-r,kienzler_stuttgart,friedrichshafen_sensors

# Legal and privacy
LEGAL_AND_PRIVACY_URL=
