# Matomo analytics
MATOMO_URL=
MATOMO_SITE_ID=

# API service
# Emulator note: use 10.0.2.2 instead of localhost on Android emulators.
# iOS simulators can use localhost.
API_BASE_URL=http://localhost:8010/v1/
API_AUTH_USERNAME=
API_AUTH_PASSWORD=
API_CONNECT_TIMEOUT=30
API_RECEIVE_TIMEOUT=30
API_ROUTING_ENGINE=valhalla
DATA_REFRESH_INTERVAL_SECONDS=20

# Fallback coordinates
DEFAULT_FOCAL_LAT=49.487164933378104
DEFAULT_FOCAL_LON=8.46624749208

# Base map styles
BASE_MAP_STYLE_URL_LIGHT=https://api.maptiler.com/maps/streets-v2/style.json?key=YOUR_MAPTILER_KEY
BASE_MAP_STYLE_URL_DARK=https://api.maptiler.com/maps/streets-v2-dark/style.json?key=YOUR_MAPTILER_KEY
BASE_MAP_STYLE_URL_SATELLITE=https://api.maptiler.com/maps/satellite/style.json?key=YOUR_MAPTILER_KEY

# Support and feedback
SUPPORT_EMAIL_URL=
SUPPORT_EMAIL_SUBJECT=Support - Park-Stark
FEEDBACK_EMAIL_SUBJECT=Feedback - Park-Stark

# Park API settings
PARK_API_BASE_URL=https://api.mobidata-bw.de/park-api/api/public/v3/
PARK_API_SOURCE_UIDS=freiburg,friedrichshafen_sensors,heidelberg,herrenberg,karlsruhe_disabled,konstanz,mannheim_disabled,p_m_bw,pbw,singen,stuttgart_carparks,ulm_sensors,vrn_p_r,vrs_bondorf,vrs_neustadt
PARK_API_LAT_MIN=47.532498 # Optional bounding box
PARK_API_LON_MIN=7.51159
PARK_API_LAT_MAX=49.791477
PARK_API_LON_MAX=10.491862

# Legal and privacy
LEGAL_AND_PRIVACY_URL=
